dist
dist-ssr
*.local

# dependencies
/**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

.firebase*

#/parsePlates/*/
#parsePlates/openalpr_64/*
#parsePlates/*
#!parsePlates/**/*.{py,txt}
parsePlates/*/
!parsePlates/**/*.{py,txt}
parsePlates/source/output/
parsePlates/source/images/*.jpg
parsePlates/source/images/*.png
#*.jpg
#*.png